<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awards - Tao Wang</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <h1>Awards and Recognitions</h1>
    </header>
    
    <main>
        <section>
            <h2>Awards</h2>
            <ul>
                <li>The NIHR Maudsley BRC Culture, Equality, Diversity and Inclusion (CEDI) Impact Award, Nov 2024</li>
                <li>Digital Mental Health: Unexpected Innovations Awards (Shortlisted), Healthcare Excellence Through Technology, Nov 2022</li>
                <li>Data Innovation Award, Healthcare Excellence Through Technology, Nov 2022</li>
                <li>Using Data to Connect Services Award (Shortlisted), HSJ Awards, Nov 2022</li>
                <li>Digital Mental Health Solution of the Year (Runner Up), Health Tech Awards, Oct 2022</li>
                <li>Significant Impact selected by HDR UK Impact Committee, Apr 2022 and June 2022</li>
                <li>Best Mental Health Partnership with the NHS (runner-up), HSJ Partnership Awards, Mar 2022</li>
                <li>Chair’s Prize at NIHR Maudsley BRC conference, Sept 2019</li>
                <li>ESRC International studentship, Sept 2015</li>
                <li>Excellent Graduate of Guangdong Province Award, June 2015</li>
                <li>Chinese National Scholarship Award, Nov 2014</li>
                <li>Hong Ping Youth Foundation Award, Nov 2014</li>
                <li>Tencent Top Scholarship Award, Oct 2014</li>
                <li>Excellence in Professional Practice Award, SCUT, Sept 2014</li>
                <li>Third Prize in the First Big Data Technology Contest (3rd out of 660 teams), Dec 2013</li>
                <li>Runner-up in the Robot Contest of Guangdong Province, China, Nov 2013</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>📫 Email: <a href="mailto:tao.wang@kcl.ac.uk">tao.wang@kcl.ac.uk</a></p>
        <p>🔗 <a href="#">Google Scholar</a> | <a href="#">LinkedIn</a> | <a href="#">ORCID</a></p>
    </footer>
</body>
</html>