<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Projects - Tao Wang</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <h1>Tao Wang</h1>
        <nav>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="projects.html">Current Projects</a></li>
                <li><a href="publications.html">Selected Publications</a></li>
                <li><a href="awards.html">Awards</a></li>
                <li><a href="mailto:tao.wang@kcl.ac.uk">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Current Projects</h2>
            <ul>
                <li>
                    <h3>Utilising GenAI and LLMs to improve antipsychotic treatment reviews for patients with schizophrenia</h3>
                    <p>Funding: KHP Centre for Translational Medicine Pre-doctoral Clinical Research Excellence Fellowship (£80,000, 2025)</p>
                </li>
                <li>
                    <h3>ChronoMed: A Medical Timeline Builder for Clinical Text Using Large Language Models (LLMs)</h3>
                    <p>Funding: MHaPS Early Career Researcher Seed Funding (£19,938, 2025)</p>
                </li>
                <li>
                    <h3>Improving identification of treatment resistant schizophrenia using generative AI</h3>
                    <p>Funding: King’s Together (£19,609.80, 2024)</p>
                </li>
                <li>
                    <h3>Repurposing clozapine in psychosis</h3>
                    <p>Funding: Maudsley Charity (£458,000.00, 2023)</p>
                </li>
                <li>
                    <h3>Exploiting a distantly supervised approach for clinical relation extraction</h3>
                    <p>Funding: Early Career Research Award (£2,500, 2022-2023)</p>
                </li>
            </ul>
        </section>
    </main>



    <script src="../assets/js/main.js"></script>
</body>
</html>